{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>make it stick - Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>
<body>
    <header>My Book Reviews
        <nav>
            <a href="{% url "reviews_list" %}">Back to list</a>
        </nav>
    </header>
    <main>
        <div class="book-review-form">
            <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            Copyright 2022 by Adrian Dorado
        </div>
        <p> This is my site that contains all of my book Reviews
            that you can read and see if you'd like that book
        </p>
    </footer>
</body>
</html>